:root {
    --fontsize: 15px;
}

body {
    align-items: center;
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Press Start 2P', cursive;
    color: #e4e4e4;
    padding: 0%;
    margin: 0px;
}

#info {
    font-size: var(--fontsize);
}

#p5_loading {
    position: relative;
    text-align: center;
    padding-top: 20%;
    animation-name: loading;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes loading {
    0% {transform: scale(0,0);}
    25% {transform: scale(1.01,1.01);}
    30% {transform: scale(1,1);}
    40% {transform: scale(1,1);}
    50% {transform: scale(0.9,0.9);}
    60% {transform: scale(1,1);}
    70% {transform: scale(0.9,0.9);}
    80% {transform: scale(1,1);}
    90% {transform: scale(0.9,0.9);}
    100% {transform: scale(1,1);}
}



html {
    background-color: #161413;
}

#valhalla-title {
    font-size: var(--fontsize);
}

#connected-people-div {
    float: right;
    text-align: right;
}

#coords {
    float: left;
    text-align: left;
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    align-items: right;
    width: 100%;
    padding-bottom: 1px;
    font-size: 10px;
}


#help-config {
    padding-top: 5px;
}

#help {
    float: right;
    height: 25px;
    width: 25px;
}

#config {
    height: 25px; 
    width: 25px; 
    float: right;
}

.volume-button {
    padding-top: 5px;
    height: 30px;
}

#volume {
    padding-top: 10px;
}

.text-input {
    height: 30px;
    width: 253px;
    clip-path: polygon(
        0px 4px,
        4px 4px,
        4px 0px,
        calc(100% - 4px) 0px,
        calc(100% - 4px) 4px,
        100% 4px,
        100% calc(100% - 4px),
        calc(100% - 4px) calc(100% - 4px),
        calc(100% - 4px) 100%,
        4px 100%,
        4px calc(100% - 4px),
        0px calc(100% - 4px)
    );
}
.text-input::placeholder {
    font-family: 'Press Start 2P', cursive;
}
button {
    background-color: #e4e4e4;
    border: none;
    color: #161413;
    cursor: pointer;
    font-family: 'Press Start 2P', cursive;
    font-size: var(--fontsize);
    clip-path: polygon(
        0px 4px,
        4px 4px,
        4px 0px,
        calc(100% - 4px) 0px,
        calc(100% - 4px) 4px,
        100% 4px,
        100% calc(100% - 4px),
        calc(100% - 4px) calc(100% - 4px),
        calc(100% - 4px) 100%,
        4px 100%,
        4px calc(100% - 4px),
        0px calc(100% - 4px)
    );
}

#change-char {
    font-size: var(--fontsize);
    padding-top: 5px;
    height: 30px;
}

#playlist {
    margin-block-start: 0em; 
    margin-block-end: 0em; 
    width: 45ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

ol {
    padding-inline-start:50px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    backdrop-filter: blur(10px);
  }
  
  /* Modal Content */
  .modal-content {
    background-color: rgba(22, 20, 19, 0.7);
    text-align: left;
    margin: auto;
    padding: 20px;
    width: fit-content;
    clip-path: polygon(
        0px 12px,
        6px 12px,
        6px 6px,
        12px 6px,
        12px 0px,
        calc(100% - 12px) 0px,
        calc(100% - 12px) 6px,
        calc(100% - 6px) 6px,
        calc(100% - 6px) 12px,
        100% 12px,
        100% calc(100% - 12px),
        calc(100% - 6px) calc(100% - 12px),
        calc(100% - 6px) calc(100% - 6px),
        calc(100% - 12px) calc(100% - 6px),
        calc(100% - 12px) 100%,
        12px 100%,
        12px calc(100% - 6px),
        6px calc(100% - 6px),
        6px calc(100% - 12px),
        0px calc(100% - 12px)
    );
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
