body {
    align-items: center;
    font-family: 'Roboto', sans-serif;
    color: #e4e4e4;
    
}

#info {
    font-size: 25px;
}

.p5Canvas {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-radius: 5px;
}

html {
    background-color: #161413;
}

#valhalla-title {
    font-size: 50px;
}

#connected-people-div {
    width: 50%;
    float: right;
    text-align: right;
}

#coords {
    width: 50%;
    float: left;
    text-align: left;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    align-items: right;
    width: 100%;
}

input[type="color"] {
	-webkit-appearance: none;
	border: none;
	width: 25px;
	height: 25px;
    background: transparent;    
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
}

#colorinp {
    width: 50%;
    float: left;
    text-align: left;
}